@import url('http://fonts.cdnfonts.com/css/matrix');

* > * {
  font-family: 'Matrix', sans-serif;
  margin: 0;
}


:root{
    --color-dark: #008F11;
    --color-light: #00FF41;
}

#main{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
}


.scroller::-webkit-scrollbar {
  display: none;
}

.scroller {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.board {
  background-color: #0D0208;
  text-align: center;
}

.board .leaderboard{
  margin-bottom: 1em;
}

.board .duration{
  display: flex;
  justify-content: center;
  gap: 1em;
}

.board .duration > button{
  border: 1px solid var(--color-light);
  padding: .5em 2em;
  border-radius: 50px;
  background-color: transparent;
  cursor: pointer;
}

.board .duration > button:hover{
  background-color: var(--color-dark);
  color: var(--color-light);
}

.active{
  background-color: var(--color-dark);
  color: var(--color-light);
}

#profile{
  /* display: flex; */
  width: 40%;
  margin: auto;
  margin-top: 3em;
}

#profile .flex{
  display: flex;
  justify-content: space-between;
  gap: 1em;
  text-align: left;
  margin-bottom: 2em;
}

#profile .flex .item{
  display: flex;
  align-items: center;
}

#profile .flex img{
  width: 20%;
  border-radius: 50%;
}

#profile .flex .info{
 padding: 1em;
}


.text-dark{
    color: var(--color-dark);
}

.text-light{
  color: var(--color-light);
}

.expired-notice {
    text-align: center;
    padding: 2rem;
    border: 1px solid #ebebeb;
    border-radius: 0.25rem;
    margin: 0.5rem;
  }
  
  .expired-notice > span {
    font-size: 2.5rem;
    font-weight: bold;
    color: red;
  }
  
  .expired-notice > p {
    font-size: 1.5rem;
    color: var(--color-light);
  }
  
  .show-counter {
    padding: 0.5rem;
  }
  
  .show-counter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
    padding: 0.5rem;
    border: 1px solid black;
    background-color: #000;
    border-radius: 0.25rem;
    text-decoration: none;
    color: var(--color-light);
  }
  
  .show-counter .countdown {
    line-height: 1.25rem;
    padding: 0 0.75rem 0 0.75rem;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  
  .show-counter .countdown.danger {
    color: var(--color-light);
  }
  
  .show-counter .countdown > p {
    margin: 0;
  }
  
  .show-counter .countdown > span {
    text-transform: uppercase;
    font-size: 0.75rem;
    line-height: 1rem;
  }

  .popupButton {
    position: absolute;
    right:    0;
    bottom:   0;
  }

  